<h1>Test Your Password Strength!</h1>
<div>
<form method="get" action="/test">
    <label for="minLen">Password Minimum Length</label>
    <input type="number" name="minLen">
    <label for="maxLen">Password Maximum Length</label>
    <input type="number" name="maxLen">
    <label for="password">Password</label>
    <input type="text" name="password">
    <input type="submit" value="Test">
</form>
</div>